NODE_ENV=
LOG_LEVEL=

# Logger
BETTERSTACK_SOURCE_TOKEN=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Seed
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Redis
REDIS_URL=

# Email (Nodemailer)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Khalti
KHALTI_SECRET_KEY=
KHALTI_PUBLIC_KEY=
KHALTI_BASE_URL=

# App
FRONTEND_URL=
BACKEND_URL=