# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# Redis
REDIS_URL=

# App
BACKEND_URL=
FRONTEND_URL=

# Khalti
KHALTI_SECRET_KEY=
KHALTI_PUBLIC_KEY=
KHALTI_BASE_URL=

NODE_ENV=
